*
{
     padding: 0;
     margin: 0;
}
body
{
 box-sizing: border-box;
 font-size: medium; 
}
.main
{  
     font-family:Arial, Helvetica, sans-serif;
     background-color:white;
     height:1.5cm;
}
.main a
{
   
     text-decoration: none;
     color:black;
     margin: 8px;
     padding: 10px;
} 

.main ul
{
     margin: 10px;
     padding: 5px;
     line-height: 25px;
     text-align: center;
     display: inline-flex;
     float: right;
     list-style: none;
}
.main ul li
{
     width: 120px;
}
.main ul li a
{
     
     color:black;
}
     
.main ul li a:hover
{
     border-radius: 10px;
     background-color:aliceblue;
     
}
.sub
{
     display: none;
}
.sub ul li
{
     display: grid;
     background-color: white;
     height: 1.5cm;
}
.main ul li:hover .sub
{
     display: block;
     position: absolute;
     margin-top: 1px;
     margin-left: -15px;
   
}
.main ul li:hover .sub ul
{ 
     display: block;
     margin: 10px; 
}
.parag
{
   background-color:aliceblue;
   
   float:right;
   margin-right: 200px;
   margin-top: 200px;
   
  
}
     

